name: Commit

on:
  pull_request:

jobs:
  commits:
    name: Check Commits
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - uses: 1Password/check-signed-commits-action@v1

      - uses: wagoid/commitlint-github-action@v6
