name: Release

on:
  release:
    types: [created]

jobs:
  publish-cli:
    if: startsWith(github.ref, 'refs/tags/v') == true
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: get version
        id: get_version
        run: |
          RELEASE_VERSION=$(echo "$GITHUB_REF" | sed -nE 's!refs/tags/!!p')
          echo "release_version=$RELEASE_VERSION" >> "$GITHUB_OUTPUT"

      - name: build
        run: |
          chmod +x ./hack/build.sh
          ./hack/build.sh
        env:
          RELEASE_VERSION: ${{ steps.get_version.outputs.release_version }}

      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: release/*
